/* CSS for the settings */

body {
    background: var(--backgroundColour);
    color: var(--textColour);
    margin: 0;
}

@font-face {
    font-family: "Jockey One";
    src: url("../fonts/Jockey_One/JockeyOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#title {
    font-family: "Jockey One";
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
}

.settings_page {
    min-height: 100vh;
}

#shroud {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#shroud[hidden] {
    display: none !important;
}