# Node dependencies
node_modules/

# Build output
dist/
build/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/

# Cache
cache/


packages.txt
firebaseKey.js
